<div page-header>
    <h4>Queue: <em>{{ queueParams.queueName}}</em></h4>
</div>

<page-message></page-message>

<div class="well" style="margin:5px;">
    <list-reload params="queueParams" model="queuePage" update="update()">
    </list-reload>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>Task UUID</th>
                <th>Task list</th>
                <th>Start time</th>
                <th>Insert time</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="queue in queuePageLoaded.items">
                <td>
                    {{ queuePageLoaded.$startIndex + $index }}
                </td>
                <td>
                    <a class="btn btn-link" style="cursor: pointer;"
                       ui-sref="task({processId:queue.processId,taskId:queue.taskId})">
                        <small>{{queue.taskId}}</small>
                    </a>
                </td>
                <td><small>{{queue.taskList}}</small></td>
                <td><small>{{queue.startTime | date:dateTimeFormat}}</small></td>
                <td><small>{{queue.enqueueTime | date:dateTimeFormat}}</small></td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">
                    <list-paginator params="queueParams" model="queuePageLoaded" update="update()">
                    </list-paginator>
                </td>
            </tr>
        </tfoot>

    </table>

    <div>Total: <b>{{queuePageLoaded.totalCount}}</b> tasks</div>
</div>

